body{

margin:0;

font-family:sans-serif;

background:black;

color:white;

overflow:hidden;

}



.container{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

}



.bg{

position:absolute;

top:0;

left:0;

height:100%;

width:100%;

}



.card{

position:relative;

backdrop-filter: blur(20px);

background:rgba(255,255,255,0.05);

padding:40px;

border-radius:20px;

box-shadow:0 0 40px cyan;

}



input{

width:300px;

padding:12px;

margin-top:20px;

border:none;

border-radius:10px;

}



button{

margin-top:20px;

padding:12px;

background:cyan;

border:none;

border-radius:10px;

cursor:pointer;

}



.result{

margin-top:20px;

}
