body{

margin:0;

font-family:sans-serif;

background:black;

color:white;

}


.main{

height:100vh;

display:flex;

align-items:center;

justify-content:center;

}


/* 3D Canvas */


.canvas{

position:fixed;

height:100%;

width:100%;

z-index:-1;

}


/* Sidebar */


.sidebar{

position:absolute;

left:0;

height:100%;

width:200px;

background:rgba(255,255,255,0.05);

backdrop-filter: blur(20px);

padding:20px;

}


/* Glass Card */


.card{

background:rgba(255,255,255,0.05);

padding:40px;

border-radius:20px;

backdrop-filter: blur(20px);

box-shadow:

0 0 20px cyan,

0 0 60px blue;

}


input{

width:300px;

padding:12px;

margin-top:20px;

border:none;

border-radius:10px;

}


button{

margin-top:20px;

padding:12px;

border:none;

border-radius:10px;

background:linear-gradient(

90deg,

cyan,

blue

);

color:white;

cursor:pointer;

}


.result{

margin-top:20px;

}


/* Responsive */


@media(max-width:768px){

.sidebar{

display:none;

}

.card{

width:90%;

}

}
